@model Landlord.Models.Shared.LayoutViewModel

<!DOCTYPE html>

<html lang="en">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow">
@RenderSection("Meta", required: false)

<link rel="apple-touch-icon" href="~/apple-touch-icon.png">

@Scripts.Render("~/Scripts/Main")

<header>
    <div class="main-header">
        <div class="container">
            <div class="header">
                <a class="logo" href="@Url.Action("Index", "Home")">
                    <img src="@Model.LogoImage.ImageUrl" alt="@Model.LogoImage.Title"/>
                </a>
                <div class="hamburger">
                    <img src=@Model.HamburgerImage.ImageUrl alt="@Model.HamburgerImage.Title">
                </div>
                @Html.Partial("_Menu", Model.MainMenu)
            </div>
        </div>
    </div>
</header>

@RenderBody()

<footer>
    <div class="main-footer">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <p class="copyright">Landlord &copy; 2018, All rights reserved.</p>
                </div>

            </div>
        </div>
    </div>
</footer>

</html>